.lmj-banner {
    display: flex;
    color: black;
    padding: 25px;
    border-bottom: solid 3px black;
    justify-content: space-between;
}
.lmj-banner img{
    width: 80px;
    height: 80px;
}

.lmj-banner h1{
    margin-top: auto;
    margin-bottom: auto;
}